.ck-content .image-style-side{
  float: right;
}
.ck-content .image-style-align-center, .ck-content .image-style-align-left, .ck-content .image-style-align-right, .ck-content .image-style-side {
  max-width: 50%;
}

.ck-content .image>img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.info-text h2 { display: block; padding-bottom: 10px; font-size: 16px; color: #434a4d; font-family: "roboto-bold", Helvetica, Arial, sans-serif; }
.info-text p { margin-bottom: 17px; font-size: 13px; line-height: 20px; color: #434a4d; text-align: justify; font-family: "roboto-regular", Helvetica, Arial, sans-serif; }
.info-text ul li { position: relative; padding-left: 12px; padding-bottom: 2px;}
.info-text ul li:after { position: absolute; top: 8px; left: 0; content: ""; width: 3px; height: 3px; border-radius: 50%; background-color: #434a4d; }
.info-text figure { margin: 15px 0; text-align: center; }
.info-text figure img { max-width: 100%; width: auto;}
.info-text ol, .info-text ul {margin: 10px 0;}
.info-text ol {margin-left: 13px;}
.article-text h2 { display: block; padding-bottom: 10px; font-size: 24px; color: #434a4d; font-family: "roboto-light", Helvetica, Arial, sans-serif; }
.article-text h3 { display: block; padding-bottom: 10px; font-size: 20px; color: #434a4d; font-family: "roboto-light", Helvetica, Arial, sans-serif; }
.article-text p { margin-bottom: 17px; font-size: 13px; line-height: 20px; color: #434a4d; text-align: justify; font-family: "roboto-regular", Helvetica, Arial, sans-serif; }
.article-text ul li { position: relative; padding-left: 12px; padding-bottom: 2px;}
.article-text ul li:after { position: absolute; top: 8px; left: 0; content: ""; width: 3px; height: 3px; border-radius: 50%; background-color: #434a4d; }
.article-text figure { margin: 15px 0; text-align: center; }
.article-text figure img { max-width: 100%; width: auto;}
.article-text ol, .article-text ul {margin: 10px 0;}
.article-text ol {margin-left: 13px;}